<div class="container" style="padding-top: 20px; padding-bottom: 80px;">
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">

    <h3>Travel Details</h3>
    <mat-divider></mat-divider>

    <div style="padding-top: 25px;" class="row" formGroupName="travelDetails">

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>From</mat-label>
          <input formControlName="from" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>To</mat-label>
          <input formControlName="to" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field style="margin-right: 10px;" appearance="fill">
          <mat-label>Invoice Date</mat-label>
          <input matInput [matDatepicker]="invoiceDate" formControlName="invoiceDate" required>
          <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
          <mat-datepicker #invoiceDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Driver Name</mat-label>
          <input formControlName="driverName" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Driver Number</mat-label>
          <input formControlName="driverNumber" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Petrol</mat-label>
          <input formControlName="petrol" matInput>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Opening Reading</mat-label>
          <input type="number" (change)="OnReadingChange()" formControlName="openingReading" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>End Reading</mat-label>
          <input type="number" (change)="OnReadingChange()" formControlName="endReading" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Total Reading</mat-label>
          <input type="number" formControlName="totalReading" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Cost per KM</mat-label>
          <input type="number" (change)="OnTravelCostChange()" formControlName="costPerKm" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Toll Charges</mat-label>
          <input type="number" formControlName="toll" matInput required>
        </mat-form-field>
      </div>

      <div class="form-group col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Parking Charges</mat-label>
          <input type="number" formControlName="parkingCharge" matInput required>
        </mat-form-field>
      </div>

    </div>

    <h3>Customer Details</h3>
    <mat-divider></mat-divider>

    <div style="padding-top: 25px;" class="row" formGroupName="customerDetails">

      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required>
          </mat-form-field>
        </div>
      </div>


      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Mobile No: </mat-label>
            <input formControlName="mobile" matInput>
          </mat-form-field>
        </div>
      </div>



      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Paid</mat-label>
            <input formControlName="paid" matInput>
          </mat-form-field>
        </div>
      </div>



      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Advance</mat-label>
            <input formControlName="advance" matInput>
          </mat-form-field>
        </div>
      </div>


    </div>

    <h3>Vehicle Details</h3>
    <mat-divider></mat-divider>

    <div class="row" style="padding-top: 25px;" formGroupName="vehicleDetails">

      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Vehicle Number</mat-label>
            <mat-select formControlName="vehicleNumber">
              <!-- <input formControlName="vehicleNumber" matInput> -->
              <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                {{vehicle.vehicle}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Travel cost</mat-label>
            <input formControlName="travelCost" matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Driver Beta</mat-label>
            <input type="number" formControlName="driverBeta" matInput>
          </mat-form-field>
        </div>
      </div>

    </div>




    <button mat-raised-button color="primary" type="submit">Submit</button>







  </form>
</div>
