<div class="container">
  <mat-card style="margin-top: 20px;">
    <h4>Reports:</h4>
    <form #dateForm="ngForm" (ngSubmit)="fromToDate(dateForm)">
      <mat-form-field style="margin-right: 10px;">
        <mat-label>From date</mat-label>
        <input matInput [matDatepicker]="fromDate" ngModel name="fromDate" required>
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To date</mat-label>
        <input matInput [matDatepicker]="toDate" ngModel name="toDate" required>
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
      <section>
        <button color="primary" [disabled]="!dateForm.valid" matTooltip="Filter data based on Dates" mat-raised-button
          type="submit">Go</button>
      </section>
    </form>
  </mat-card>
  <mat-card style="margin-top: 20px;" id="contentToConvert">
    <table class="table ">
      <thead>
        <tr>
          <th scope=" col">From</th>
          <th scope="col">To</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Driver Name</th>
          <th scope="col">Total Reading</th>
          <th scope="col">Date</th>
          <th scope="col">Total cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports" (click)="update(report)">
          <td>{{report.from}}</td>
          <td>{{report.to}}</td>
          <td>{{report.name}}</td>
          <td>{{report.driverName}}</td>
          <td>{{report.totalReading}}</td>
          <td>{{report.invoiceDate | date:'medium'}}</td>
          <td>{{report.overAllCost}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6" class="text-right">Total Amount:</th>
          <th>{{totalAmount}}</th>
        </tr>
      </tfoot>
    </table>
  </mat-card>
  <div style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="print()">Print</button>
  </div>
</div>
